html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 0;
}

nav img {
    margin-top: 0; /* Remove the top margin */
    height: 120px;
    width: 300px;
}

nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.results {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: auto;
    max-width: fit-content;
}

.results:hover {
    background-color: #2980b9;
}

#attachButton {
    border-radius: 4px;
    height: 45px;
}

.file-upload-container {
    height: 45px;
}

.inputfile+label {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #3498db;
    display: inline-block;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #2980b9;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    cursor: pointer;
}

#fileName {
    display: block;
    margin-top: 5px;
    font-style: italic;
}

.file-upload-container {
    display: inline-block;
    margin-right: 10px;
}

footer {
    margin-top: auto;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 12px;
}
