<!DOCTYPE html>
<html>

<head>
    <title>Energy Rating Evaluator</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>

<body>
    <nav>
        <a href="https://peopleplus.ai/" style="display: flex; align-items: center; text-decoration: none;">
            <img src="{% static 'PeopleAI.svg' %}" alt="People+ai Logo" style="height: 120px; width: 300px; margin-top: 0;">
        </a>
    </nav>

    <h1>Energy Rating Evaluator</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Enter search query">
        <button type="submit">Search</button>
    </form>

    <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="file-upload-container">
            <input type="file" name="image" accept="image/*" id="imageInput" class="inputfile" />
            <label for="imageInput">Choose File</label>
            <span id="fileName"></span>
        </div>
        <button type="submit" id="attachButton">Submit</button>
    </form>
    <footer>
        <p>&copy; 2024 People+AI. All rights reserved.</p>
        <p><strong>Legal Disclaimer:</strong> The energy efficiency ratings in this tool is provided by the Bureau of Energy Efficiency (BEE) and the output is sourced from Amazon and BEE websites. People+ai assumes no responsibility for the accuracy, completeness, or reliability of this information.</p>
    </footer>
    <script>
        document.getElementById('imageInput').addEventListener('change', function (e) {
            var fileName = e.target.files[0].name;
            document.getElementById('fileName').textContent = fileName;
        });
    </script>
</body>

</html>