/* button styles */
#getProximityGrading {
    background: linear-gradient(to top, #7295d3, #4285f4);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#getProximityGrading:hover {
    background-color: #357ae8;
}

/* the response box styles */
.result-box {
    background: linear-gradient(to bottom, #fff, #f5f5f5);
    padding: 13px;
    border: 1px solid #ccc;
    overflow: auto;
    max-height: 200px;
    max-width: 400px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* the main sidebar styles */
#sidebar {
    flex-basis: 15rem;
    flex-grow: 1;
    padding: 1rem;
    max-width: 30rem;
    height: 85%;
    background: linear-gradient(to bottom, #aee3c0, hsl(153, 57%, 70%));
    box-sizing: border-box;
    overflow: auto;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
}

/* the styling for GRIHA Score heading */
#griha-heading {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    font-family: "Open Sans",
}